@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

var{
	font-style: normal;
	font-variant: all-small-caps;
}

abbr.name{
	white-space: nowrap;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure + p{
	text-indent: 0;
}

figure img{
	max-width: 100%;
	margin: auto;
	display: block;
}

#ill-ending{
	margin-top: 3em;
}

#ill-002 img,
#ill-009 img,
#ill-ending img{
	max-height: 50%;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

[epub|type~="dedication"]{
	text-align: center;
}

[epub|type~="dedication"] em{
	font-style: normal;
	font-variant: all-small-caps;
}

[epub|type~="part"] header{
	text-align: center;
}

[epub|type~="epigraph"]{
	hyphens: none;
	margin: 3em;
	margin-top: 0;
	text-align: left;
	text-indent: 0;
	display: inline-block;
}

[epub|type~="z3998:persona"]{
	font-weight: normal;
	font-variant: all-small-caps;
}
