@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

var{
	font-variant: all-small-caps;
}

abbr.name{
	white-space: nowrap;
}

[epub|type~="z3998:persona"]{
	font-weight: normal;
	font-variant: all-small-caps;
}
