@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

var{
	font-style: normal;
	font-variant: all-small-caps;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

#illustration-2 img,
#illustration-9 img{
	max-height: 50%;
}

[epub|type~="dedication"]{
	text-align: center;
}

[epub|type~="z3998:persona"]{
	font-weight: normal;
	font-variant: all-small-caps;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}
/* End all epigraphs */

/* Epigraphs in section headers */
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

@supports(display: table){
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */
